<script setup>
import { computed, onBeforeMount, ref, watch } from 'vue'
import { useStore } from 'stores/store'
import { useRouter } from 'vue-router'

const props = defineProps({
  order_id: {
    type: String,
    required: false,
    default: null,
  }
})

const router = useRouter()

const new_order_creation = computed(() => !props.order_id)
const edit_order = ref(false)

const store = useStore()

const items_in_order = ref([])
const items = ref([])
const items_not_in_order = computed(() => {
  const items_in_order_ids = items_in_order.value.map(item => item.internal_identifier)
  return items.value.filter(item => !items_in_order_ids.includes(item.internal_identifier))
})

const customers = ref([])

function addItemToOrder(item) {
  items_in_order.value.push(item)
}

function removeItemFromOrder(item) {
  const idx = items_in_order.value.findIndex(iio => iio.id === item.id)
  items_in_order.value.splice(idx, 1)
}

const item_columns = ref([
  {
    name: 'internal_identifier',
    label: 'ID',
    field: 'internal_identifier',
    align: 'left',
  },
  {
    name: 'price',
    label: 'price',
    field: 'price',
    align: 'right',
  },
  {
    name: 'description',
    label: 'description',
    field: 'description',
    align: 'left',
  },
  {
    name: 'details',
    label: 'Actions',
    field: null,
    align: 'right'
  },
])

async function loadItems() {
  const response = await store.getItems()
  items.value = response.data.items
}

async function loadCustomers() {
  const response = await store.getCustomers()
  customers.value = response.data
}

function formatCustomer(item) {
  if (item.discriminator === 'company') {
    return `IČO: ${item.ico}, DIČ: ${item.dic}, Phone: ${item.phone_number}, Email: ${item.email_address}`
  } else if (item.discriminator === 'person') {
    return `Name: ${item.first_name} ${item.last_name}, Date of birth: ${item.date_of_birth}, Phone: ${item.phone_number}, Email: ${item.email_address}`
  }
}

async function deleteOrder() {
  await store.deleteOrder(props.order_id)
  await router.push({'name': 'Orders'})
}

const error_message = ref('')
const message = ref('')

async function createOrder() {
  if (items_in_order.value.length > 0) {
    if (!!internal_identifier.value && !!customer_selected.value) {
      try {
        const response = await store.createOrder(internal_identifier.value, items_in_order.value.map((item) => item.internal_identifier),
          customer_selected.value.id)
        message.value = 'Order has been created successfully'
        await router.push({path: `/order/${response.data.internal_identifier}`})
      } catch(e) {
        throw e
      }
    }
  } else {
    error_message.value = 'The order has to contain at least one item!'
  }
}

async function updateOrder() {
  if (items_in_order.value.length > 0) {
    try {
      await store.updateOrder(props.order_id, items_in_order.value.map((item) => item.internal_identifier),
        customer_selected.value.id)
      message.value = 'Order has been created successfully'
    } catch(e) {
      throw e
    }
  } else {
    error_message.value = 'The order has to contain at least one item!'
  }
}

const internal_identifier = ref(null)

const customer_types = ref([
  'company',
  'person',
])

const customer_type_selected = ref('company')

const customer_options = computed(() => customers.value.filter(customer => customer.discriminator === customer_type_selected.value))

const customer_selected = ref(null)

const total_cost = computed(() => items_in_order.value.map(item => item.price)
  .reduce((previous_value, current_value) => {return Number(previous_value) + Number(current_value)}, 0).toFixed(2))

onBeforeMount(async () => {
  if (!new_order_creation.value) {
    const response = await store.getOrder(props.order_id)
    customer_selected.value = response.data.customer
    customer_type_selected.value = response.data.customer.discriminator
    items_in_order.value = response.data.items
    internal_identifier.value = response.data.internal_identifier
  }
  await loadItems()
  await loadCustomers()
})
</script>

<template>
  <q-page padding>
    <h4>{{ new_order_creation ? 'New order' : `Order ${order_id}` }}</h4>
    <q-banner v-if="message !== ''" class="q-banner bg-blue-2 text-blue-10" rounded >{{ message }}</q-banner>
    <q-toggle v-if="!new_order_creation" v-model="edit_order" label="Order editing" />
    <q-form :submit="new_order_creation ? createOrder : updateOrder">
      <template v-if="new_order_creation">
        <q-input v-model="internal_identifier" label="Internal identifier" type="text"
                 :rules="[(value) => (value !== '' && value !== null) || 'The internal identifier mustn\'t be empty']"/>
      </template>
      <q-input :model-value="total_cost" readonly label="Total cost"/>
      <q-select v-model="customer_type_selected" :options="customer_types" :readonly="!new_order_creation && !edit_order" />
      <q-select v-model="customer_selected" :options="customer_options"
                :option-label="(item) => formatCustomer(item)"
                :option-value="(item) => item"
                map-options
                :readonly="!new_order_creation && !edit_order"
                :rules="[(value) => (value !== '' && value !== null) || 'The customer must be selected']" />
      <q-banner v-if="error_message !== ''" class="q-banner bg-red-2 text-red-10" rounded >{{ error_message }}</q-banner>
      <q-table title="Items in order" :columns="item_columns" :rows="items_in_order">
        <template v-slot:body-cell-details="props">
          <q-td :props="props">
            <q-btn v-if="new_order_creation || edit_order" round size="sm" icon="remove" @click="removeItemFromOrder(props.row)"/>
          </q-td>
        </template>
      </q-table>
      <template v-if="new_order_creation">
        <q-btn type="submit" label="Create order" />
      </template>
      <template v-if="!new_order_creation">
        <q-btn label="Delete order" @click="deleteOrder" />
        <q-btn type="submit" :disable="(!new_order_creation && !edit_order)" label="Update order"></q-btn>
      </template>
    </q-form>
    <q-table :columns="item_columns" :rows="items_not_in_order" title="Items">
      <template v-slot:body-cell-details="props">
        <q-td :props="props">
          <q-btn round size="sm" @click="addItemToOrder(props.row)" icon="add" />
        </q-td>
      </template>
    </q-table>
  </q-page>
</template>
