<script setup>
import { onBeforeMount, ref } from 'vue'
import { useStore } from 'stores/store'
import { useRouter } from 'vue-router'

const store = useStore()
const router = useRouter()

const columns = ref([
  {
    name: 'internal_identifier',
    label: 'Internal identifier',
    field: 'internal_identifier',
    align: 'left',
  },
  {
    name: 'total_cost',
    label: 'Total cost',
    field: 'total_cost',
    align: 'right',
  }
])

const orders = ref([])

async function loadOrders() {
  const response = await store.getOrders()
  orders.value = response.data
}

function goToOrder(event, row) {
  router.push({path: `/order/${row.internal_identifier}`})
}

onBeforeMount(() => {
  loadOrders()
})
</script>

<template>
  <q-page padding>
    <q-table :columns="columns" :rows="orders" @row-click="goToOrder">

    </q-table>
    <q-btn label="Create new order" :to="{path: 'Order'}"/>
  </q-page>
</template>
