<script setup>
import { useStore } from 'stores/store'
import { ref } from 'vue'
import { useRouter } from 'vue-router'

const store = useStore()
const router = useRouter()

const username = ref('')
const password = ref('')

const show_password = ref(false)

const error_message = ref('')

async function login() {
  try {
    await store.login(username.value, password.value)
    password.value = null
    await router.push('/')
  } catch(e) {
    error_message.value = 'Login failed. Please that you input correct credentials and try again.'
  }
}

</script>

<template>
  <q-page padding>
    <q-banner v-if="error_message" rounded dense class="banner bg-red-2 text-red-10">{{ error_message }}</q-banner>
    <q-form @submit="login">
      <q-input v-model="username" label="Username" type="text" />
      <q-input v-model="password" label="Password" :type="show_password ? 'text' : 'password'">
        <template v-slot:append>
           <q-icon class="cursor-pointer"
                   :name="show_password ? 'visibility' : 'visibility_off'"
                   @click="show_password = !show_password" />
         </template>
      </q-input>
      <q-btn label="Login" type="submit" />
    </q-form>
  </q-page>
</template>
