<script setup>
import { useStore } from "stores/store"
import { ref } from "vue"

const store = useStore()

const leftDrawerOpen = ref(false)

class MenuItem {
  constructor(name, label, to) {
    this.name = name
    this.label = label
    this.to = to
  }
}

const menu_items = ref([
  new MenuItem('orders', 'Orders', {'name': 'Orders'}),
  new MenuItem('items', 'Items', {'name': 'Items'}),
  new MenuItem('customers', 'Customers', {'name': 'Customers'}),
])

function toggleLeftDrawer () {
  leftDrawerOpen.value = !leftDrawerOpen.value
}
</script>

<template>
  <q-layout view="hHh LpR fFf">

    <q-header elevated class="bg-primary text-white">
      <q-toolbar>
        <q-btn v-show="store.isUserAuthenticated" dense flat round icon="menu" @click="toggleLeftDrawer">
          <q-tooltip>Menu</q-tooltip>
        </q-btn>

        <q-toolbar-title>
          App for managing orders
        </q-toolbar-title>
        <q-space />
        <q-btn v-show="store.isUserAuthenticated" :to="{name: 'Login'}" icon="mdi-logout" stretch flat>
          <q-tooltip>Logout</q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer v-if="store.isUserAuthenticated" v-model="leftDrawerOpen" side="left" overlay elevated>
      <!-- drawer content -->
      <q-list>
        <q-item v-for="menu_item in menu_items"
                v-bind:key="`menu-item-${menu_item.name}`"
                :to="menu_item.to">
          {{ menu_item.label }}
        </q-item>
<!--        <q-item :to="{'name': 'Items'}">Items</q-item>-->
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer elevated class="bg-grey-8 text-white">
      <q-toolbar>
        <q-space />
         &copy; 2022 Václav Pelc
        <q-space />
      </q-toolbar>
    </q-footer>

  </q-layout>
</template>
