<template>
  <main-layout></main-layout>
</template>

<script>
import { defineComponent } from 'vue'
import MainLayout from 'layouts/MainLayout'

export default defineComponent({
  name: 'App',
  components: { MainLayout }
})
</script>
