<script setup>
  import { useStore } from "stores/store"
  import { onMounted, ref } from 'vue'

  const store = useStore()

  const file = ref(null)
  const dialog_open = ref(false)
  const edit_dialog_open = ref(false)
  const internal_identifier = ref('')
  const price = ref(0.00)
  const description = ref('')

  function setDefaults() {
    internal_identifier.value = ''
    price.value = 0.0
    description.value = ''
  }

  const columns = ref([
    {
      name: 'internal_identifier',
      label: 'ID',
      field: 'internal_identifier',
      align: 'left',
    },
    {
      name: 'price',
      label: 'price',
      field: 'price',
      align: 'right',
    },
    {
      name: 'description',
      label: 'description',
      field: 'description',
      align: 'left',
    },
    {
      name: 'details',
      field: null,
    },
  ])

  const items = ref([])

  async function loadItems() {
    const response = await store.getItems()
    items.value = response.data.items
  }

  async function createItem() {
    await store.createItem(internal_identifier.value, price.value, description.value)
    dialog_open.value = false
    setDefaults()
    await loadItems()
  }

  function openEditDialog(item) {
    internal_identifier.value = item.internal_identifier
    price.value = item.price
    description.value = item.description
    edit_dialog_open.value = true
  }

  async function updateItem() {
    await store.updateItem(internal_identifier.value, price.value, description.value)
    edit_dialog_open.value = false
    setDefaults()
    await loadItems()
  }

  async function deleteItem(item_id) {
    await store.deleteItem(item_id)
    await loadItems()
  }

  async function uploadItems() {
    await store.importItems(file.value)
  }

  onMounted(() => {
    loadItems()
  })
</script>

<template>
  <q-page padding>
    <q-table :columns="columns" :rows="items">
      <template v-slot:body-cell-details="props">
        <q-td :props="props">
          <q-btn icon="edit" size="sm" round @click="openEditDialog(props.row)" />
          <q-btn icon="close" size="sm" round @click="deleteItem(props.row.internal_identifier)" />
        </q-td>
      </template>
    </q-table>
    <q-btn label="Add new item" @click="dialog_open = true" />
    <div class="q-mt-lg">
    Upload file with new items
      <q-file v-model="file" accept=".csv" label="Add items">
        <template v-slot:append>
          <q-icon name="close" @click.stop.prevent="file = null" class="cursor-pointer" />
        </template>
      </q-file>
      <q-btn label="Upload file with items" @click="uploadItems" />
    </div>
    <q-dialog v-model="dialog_open" persistent>
      <q-card class="q-pa-sm">
        <div>
          Create new item
          <q-form @submit="createItem">
            <q-input v-model="internal_identifier" type="text" label="Internal identifier"
                     :rules="[val => !!val || 'Internal identifier must not be empty']" />
            <q-input v-model="price" type="number" step="0.01" label="Price"
                     :rules="[val => val >= 0 || 'Price must be greater or equal to zero']" />
            <q-input v-model="description" type="text" label="Description" />
            <q-btn @click="dialog_open = false; setDefaults()" label="Close" />
            <q-btn type="submit" label="Send" />
          </q-form>
        </div>
      </q-card>
    </q-dialog>

    <q-dialog v-model="edit_dialog_open" persistent>
      <q-card class="q-pa-sm">
        <div>
          Edit item
          <q-form @submit="updateItem()">
            <q-input v-model="internal_identifier" readonly type="text" label="Internal identifier" />
            <q-input v-model="price" type="number" step="0.01" label="Price"
                     :rules="[val => val >= 0 || 'Price must be greater or equal to zero']" />
            <q-input v-model="description" type="text" label="Description" />
            <q-btn @click="edit_dialog_open = false; setDefaults()" label="Close" />
            <q-btn type="submit" label="Send" />
          </q-form>
        </div>
      </q-card>
    </q-dialog>
  </q-page>
</template>
