<script setup>
import { useStore } from 'stores/store'
import { onBeforeMount, ref } from 'vue'

const props = defineProps({
  itemID: {
    type: String,
    required: true,
  },
})

const store = useStore()

const item = ref(null)

async function loadItem() {
  try {
    const response = await store.getItem(props.itemID)
    item.value = response.data
  } catch(e) {

  }
}

onBeforeMount(() => {
  loadItem()
})
</script>

<template>
  <q-page padding>

  </q-page>
</template>

<style scoped>

</style>
